// colors 

$first-text: #212121 !default;
$second-text: #757575 !default;

$first-color: #8BC34A !default;
$light-first-color: #DCEDC8 !default;
$dark-first-color: #689F38 !default; 
$second-color: #E040FB !default; 
$second-color-hover: #CF00CF !default;

$devider: #BDBDBD !default;

$white: #fff !default;
$black:#000 !default;

// fonts 

$montserrat: 'Montserrat', sans-serif;