/* styles for boardgame wish-list */ 

@import '_variables.scss';
@import '_mixins.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,500,700);

/* General styles */

body {
	background:$white;
	font-size:16px;
	font-family:$montserrat;
	h1 {
		font-family:$montserrat;
		font-size: 3em;
		font-weight: 300;
		span {
			font-weight:700;
		}
	}
	.columns {
		margin:0;
	}
}


.banner {
	background-image: url('../images/dice-bg.jpg');
	background-size: 100%;
	text-align: left;
	div {
		padding: 80px 0px 80px 50px;
		color: $white;
		p {
			font-size: 1.5em;
		}
		.btn-open-modal {
			@include btn-color($second-color);
			width: 150px;
			height: 40px;
			text-align: center;
			display: block;
			margin-top: 20px;
			font-weight:500;
			&:hover {
				background-color: $second-color-hover;
			}
		}
	}
}

/* Pop up with form */

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    z-index: 101;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    /* Inner */
    .popup-inner {
        max-width:700px;
        width:90%;
        padding:40px;
        position:absolute;
        z-index: 100;
        top:50%;
        left:50%;
        -webkit-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
        box-shadow:0px 2px 6px $black;
        border-radius:3px;
        background:$white;
        form {
        	max-width:100%;
        	width: 600px;
        	margin: 0 auto;
        	text-align: center;
        	h2 {
        		font-size: 2.5em;
        		margin-bottom: 30px;
        	}
        	.img-new {
        		margin-bottom: 10px;
        	}
        	.name-item {
        		width: 100%;
        		margin-bottom: 10px;
        		padding: 5px;
        		border: 1px solid $second-color;
        		font-size: 1em;
        	}
        	
        	textarea {
        		width: 100%;
        		margin: 0 auto;
        		padding: 5px;
        		border: 1px solid $second-color;
        		font-size: 1em;
        	}
        	
        	button {
        		@include btn-color($second-color);
        		margin-top: 10px;
        		&:hover {
        			background-color: $second-color-hover;
        		}
        	}
        }
        /* Close Button */
        .popup-close {
            width:30px;
            height:30px;
            padding-top:4px;
            display:inline-block;
            position:absolute;
            top:0px;
            right:0px;
            transition:ease 0.25s all;
            -webkit-transform:translate(50%, -50%);
            transform:translate(50%, -50%);
            border-radius:1000px;
            background:rgba(0,0,0,0.8);
            font-family:Arial, Sans-Serif;
            font-size:20px;
            text-align:center;
            line-height:100%;
            color:$white;
            &:hover {
            -webkit-transform:translate(50%, -50%) rotate(180deg);
            transform:translate(50%, -50%) rotate(180deg);
            background:$black;
            text-decoration:none;
        	}	
        }
    }

}
 

.new-add {
	width:100%;
	margin:0 auto;
	padding: 100px;
	form {
		max-width:100%;
		width: 600px;
		margin: 0 auto;
		text-align: center;
		h2 {
			font-size: 2.5em;
			margin-bottom: 30px;
		}
		.img-new {
			margin-bottom: 10px;
		}
		.name-item {
			width: 100%;
			margin-bottom: 10px;
			padding: 5px;
			border: 1px solid $second-color;
			font-size: 1em;
		}
		
		textarea {
			width: 100%;
			margin: 0 auto;
			padding: 5px;
			border: 1px solid $second-color;
			font-size: 1em;
		}
		
		button {
			@include btn-color($second-color);
			margin-top: 10px;
			&:hover {
				background-color: $second-color-hover;
			}
		}
	}
	
}
/* item section */
.whishlist-container {
	height: auto;
	.column-container {
		position: relative;
		.content {
			width:100%;
			min-height:500px;
			position:absolute;
			margin: 0px;
			padding: 20px;
			left:0;
			top:0;
		}
		.block {
			background-color:$white;
			border: 2px solid $first-color;
			margin-bottom:10px;
			width:100%;
			color:#000;
			display: flex;
			flex-direction:row;
			align-items: center;
			justify-content: space-between;
			text-align: center;
			.item-img{
				width: 320px;
				position:relative;
				margin-bottom:-6px;
				.imageUpload {
				    display: none;
				}
				.itemImage {
				    cursor: pointer;
				}
			}
			.item-about{
				width:75%;
				text-align: left;
				padding:30px;
				.h3-input {
					font-size: 1.2em;
					font-weight: 500;
					border:0;
					padding:0;
					width:100%;
				}
				textarea {
					border:0;
					width: 100%;
					word-wrap: break-word;
					word-break: break-word;
					font-size: 1em;
					font-weight: 500;
					background-color:$white;
					color: $second-text;
					resize: none;
					overflow: auto;
					overflow-y: hidden;
				}
				.btn-edit {@include btn-color($dark-first-color);}
				.btn-save {@include btn-color($first-color);}
				.btn-delete {@include btn-color($first-text);}
			}


		}

		.block-placeholder {
			height: 200px;
			border:1px dotted black;
			margin-bottom:10px;
			width:100%;
		}
	}
}


/* Media Queries */ 


@media screen and (max-width: 980px){
	.banner {
		background-size: cover;
		text-align: center;
		div {
			background-color: rgba(0,0,0,0.3);
			padding:60px 15px;
			h1 {
				line-height: 1em;
			}
			p {
				padding-top: 10px;
				line-height: 1em;
				margin-bottom: 20px;
			}
			.btn-open-modal {
				margin: 0 auto;
			}
		}
	}
	.whishlist-container {
		.column-container {
			.block {
				flex-direction:column;
				padding-top:30px;
				.item-about {
					width:100%;
					text-align:center;
					input {
						text-align:center;
					}
					textarea {
						text-align:center;
						font-size: 0.8em;
					}
				}
			}
		}
	}

}



