/* styles for boardgame wish-list */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,500,700);
/* General styles */
body {
  background: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }
  body h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 300; }
    body h1 span {
      font-weight: 700; }
  body .columns {
    margin: 0; }

.banner {
  background-image: url("../images/dice-bg.jpg");
  background-size: 100%;
  text-align: left; }
  .banner div {
    padding: 80px 0px 80px 50px;
    color: #fff; }
    .banner div p {
      font-size: 1.5em; }
    .banner div .btn-open-modal {
      background-color: #E040FB;
      color: #fff;
      font-size: 1.1em;
      padding: 5px 10px;
      border: 0;
      border-radius: 2px;
      width: 150px;
      height: 40px;
      text-align: center;
      display: block;
      margin-top: 20px;
      font-weight: 500; }
      .banner div .btn-open-modal:hover {
        background-color: #CF00CF; }

/* Pop up with form */
.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 101;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  /* Inner */ }
  .popup .popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px #000;
    border-radius: 3px;
    background: #fff;
    /* Close Button */ }
    .popup .popup-inner form {
      max-width: 100%;
      width: 600px;
      margin: 0 auto;
      text-align: center; }
      .popup .popup-inner form h2 {
        font-size: 2.5em;
        margin-bottom: 30px; }
      .popup .popup-inner form .img-new {
        margin-bottom: 10px; }
      .popup .popup-inner form .name-item {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #E040FB;
        font-size: 1em; }
      .popup .popup-inner form textarea {
        width: 100%;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #E040FB;
        font-size: 1em; }
      .popup .popup-inner form button {
        background-color: #E040FB;
        color: #fff;
        font-size: 1.1em;
        padding: 5px 10px;
        border: 0;
        border-radius: 2px;
        margin-top: 10px; }
        .popup .popup-inner form button:hover {
          background-color: #CF00CF; }
    .popup .popup-inner .popup-close {
      width: 30px;
      height: 30px;
      padding-top: 4px;
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      transition: ease 0.25s all;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
      border-radius: 1000px;
      background: rgba(0, 0, 0, 0.8);
      font-family: Arial, Sans-Serif;
      font-size: 20px;
      text-align: center;
      line-height: 100%;
      color: #fff; }
      .popup .popup-inner .popup-close:hover {
        -webkit-transform: translate(50%, -50%) rotate(180deg);
        transform: translate(50%, -50%) rotate(180deg);
        background: #000;
        text-decoration: none; }

.new-add {
  width: 100%;
  margin: 0 auto;
  padding: 100px; }
  .new-add form {
    max-width: 100%;
    width: 600px;
    margin: 0 auto;
    text-align: center; }
    .new-add form h2 {
      font-size: 2.5em;
      margin-bottom: 30px; }
    .new-add form .img-new {
      margin-bottom: 10px; }
    .new-add form .name-item {
      width: 100%;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #E040FB;
      font-size: 1em; }
    .new-add form textarea {
      width: 100%;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #E040FB;
      font-size: 1em; }
    .new-add form button {
      background-color: #E040FB;
      color: #fff;
      font-size: 1.1em;
      padding: 5px 10px;
      border: 0;
      border-radius: 2px;
      margin-top: 10px; }
      .new-add form button:hover {
        background-color: #CF00CF; }

/* item section */
.whishlist-container {
  height: auto; }
  .whishlist-container .column-container {
    position: relative; }
    .whishlist-container .column-container .content {
      width: 100%;
      min-height: 500px;
      position: absolute;
      margin: 0px;
      padding: 20px;
      left: 0;
      top: 0; }
    .whishlist-container .column-container .block {
      background-color: #fff;
      border: 2px solid #8BC34A;
      margin-bottom: 10px;
      width: 100%;
      color: #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center; }
      .whishlist-container .column-container .block .item-img {
        width: 320px;
        position: relative;
        margin-bottom: -6px; }
        .whishlist-container .column-container .block .item-img .imageUpload {
          display: none; }
        .whishlist-container .column-container .block .item-img .itemImage {
          cursor: pointer; }
      .whishlist-container .column-container .block .item-about {
        width: 75%;
        text-align: left;
        padding: 30px; }
        .whishlist-container .column-container .block .item-about .h3-input {
          font-size: 1.2em;
          font-weight: 500;
          border: 0;
          padding: 0;
          width: 100%; }
        .whishlist-container .column-container .block .item-about textarea {
          border: 0;
          width: 100%;
          word-wrap: break-word;
          word-break: break-word;
          font-size: 1em;
          font-weight: 500;
          background-color: #fff;
          color: #757575;
          resize: none;
          overflow: auto;
          overflow-y: hidden; }
          .whishlist-container .column-container .block .item-about textarea:valid {
            border: 1px solid #E040FB; }
        .whishlist-container .column-container .block .item-about .btn-edit {
          background-color: #689F38;
          color: #fff;
          font-size: 1.1em;
          padding: 5px 10px;
          border: 0;
          border-radius: 2px; }
        .whishlist-container .column-container .block .item-about .btn-save {
          background-color: #8BC34A;
          color: #fff;
          font-size: 1.1em;
          padding: 5px 10px;
          border: 0;
          border-radius: 2px; }
        .whishlist-container .column-container .block .item-about .btn-delete {
          background-color: #212121;
          color: #fff;
          font-size: 1.1em;
          padding: 5px 10px;
          border: 0;
          border-radius: 2px; }
    .whishlist-container .column-container .block-placeholder {
      height: 200px;
      border: 1px dotted black;
      margin-bottom: 10px;
      width: 100%; }

/* Media Queries */
@media screen and (max-width: 980px) {
  .banner {
    background-size: cover;
    text-align: center; }
    .banner div {
      background-color: rgba(0, 0, 0, 0.3);
      padding: 60px 15px; }
      .banner div h1 {
        line-height: 1em; }
      .banner div p {
        padding-top: 10px;
        line-height: 1em;
        margin-bottom: 20px; }
      .banner div .btn-open-modal {
        margin: 0 auto; }
  .whishlist-container .column-container .block {
    flex-direction: column;
    padding-top: 30px; }
    .whishlist-container .column-container .block .item-about {
      width: 100%;
      text-align: center; }
      .whishlist-container .column-container .block .item-about input {
        text-align: center; }
      .whishlist-container .column-container .block .item-about textarea {
        text-align: center;
        font-size: 0.8em; } }
